<nav class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">What Would You Do For A Dollar?</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if loggedIn %}
                    <li>Welcome {{ name }}! -- <a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


















{#<nav class="navbar navbar-default">#}
{#      <a class="navbar-brand" href="/">TBD...</a>#}
{#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{##}
{#      <div class="collapse navbar-collapse" id="navbarsExampleDefault">#}
{#        <ul class="navbar-nav mr-auto">#}
{#          <li class="nav-item active">#}
{#            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Link</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link disabled" href="#">Disabled</a>#}
{#          </li>#}
{#          <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dropdown</a>#}
{#            <div class="dropdown-menu" aria-labelledby="dropdown01">#}
{#              <a class="dropdown-item" href="/newtask">New Task</a>#}
{#              <a class="dropdown-item" href="/viewtasks">View Tasks</a>#}
{#              <a class="dropdown-item" href="#">Something else here</a>#}
{#            </div>#}
{#          </li>#}
{#        </ul>#}
{#        <form class="form-inline my-2 my-lg-0">#}
{#          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
{#      </div>#}
{#    </nav>#}
