<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What Would You Do For A Dollar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    {% include 'partials/_navbar.html' %}

    <div class="container">
        {%  block body %}{% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>





{#references:#}
{#    formatting setup - https://www.youtube.com/watch?v=zRwy8gtgJ1A&feature=youtu.be#}
{#    bootstrap - https://www.bootstrapcdn.com/#}